.searchBox {
    margin: 20px 0px;
    width: 350px;
}
  
.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 8px;
    box-sizing: border-box;
}

.searchInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
